* {
    font-family: 'Roboto';
    font-style: normal; 
}
.container {
    max-width: 1480px;
    margin: auto;
    height: 1282px;
}
span {
    color: black;
}
.item-1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.8cm;
    color: rgb(1, 206, 233);
}

.flex-container {
    color: rgb(55, 62, 78);
    display: flex;
    width: 1280px;
    height: 69px;
    top: 119px;
}
.box{
    width: 344px;
    height: 399px;
    font-size: 24px;
    text-align: center;
    background: rgb(68, 68, 88);
    border: 1px solid rgb(167, 167, 167);
    line-height: 60px;
}
.box-0{
    width: 190px;
    height: 70px;
}
.box-1 {
    width: 260px;
    height:70px;
    color: rgb(255, 255, 255);
}
.box-1:hover{
    background: rgb(55, 62, 78);
    color: rgb(255, 255, 255);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.box-2{
    width: 150px;
    height: 70px;
    color: rgb(255, 255, 255);
}
.box-2:hover{
    background: rgb(55, 62, 78);
    color: rgb(255, 255, 255);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;  
}
.box-3{
    width: 230px;
    height: 70px;
    color: rgb(255, 255, 255);
}
.box-3:hover{
    background: rgb(55, 62, 78);
    color: rgb(255, 255, 255);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.box-4{
    width: 230px;
    height: 70px;
    color: rgb(255, 255, 255);
}
.box-4:hover{
    background: rgb(55, 62, 78);
    color: rgb(255, 255, 255);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.box-5{
    width: 220px;
    height: 70px;
}



.left-menu {
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(167, 167, 167);
    margin-top: 50px;

}
.btn {
    font-size: 27px;
    padding-left: 50px;
    text-align: left;
    background: rgb(250, 250, 250);
    color: rgb(68, 74, 87);
    line-height: 50px;
    width: 294px;
    height: 81px;
}
.btn:hover {
    padding-left: 60px;
    text-align: left;
    font-size: 27px;
    background: rgb(228, 227, 227);
    color: rgb(68, 74, 87);
    line-height: 50px;
    width: 284px;
    height: 81px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}



.img-box {
    display: block;
    margin-left: 395px;
    width: 885px;
    height: 529px;
    border: 2px solid #535353;
    margin-top: -400px;
}
.img {
    margin-left: 251px;
    margin-top: 61px;
    overflow: hidden;
}
.img:hover {
    transform: scale(1.1);
    transition: 1s;
}
.item-2{
    padding-top: 15px;
    padding-left: 400px;
    width: 885px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.item-3{
    padding-top: 15px;
    padding-left: 400px;
    width: 885px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}



.footer{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    background-color: rgb(182, 182, 182);
    text-align: center;
    text-decoration: none;
}
.item-4 {
    width: 200px;
    height: 50px;
    color: rgb(36, 36, 36);
    font-size: 0.8cm;
    margin-top: 17px;
    text-decoration: none;
}
.item-4:hover {
    color: #3181A6;
    text-decoration: underline;
}


.item-5 {
    width: 180px;
    height: 50px;
    color: rgb(36, 36, 36);
    font-size: 0.8cm;
    margin-top: 17px;
}
.item-5:hover {
    color: #3181A6;
    text-decoration: underline;
}


.item-6 {
    width: 250px;
    height: 50px;
    color: rgb(36, 36, 36);
    font-size: 0.8cm;
    margin-top: 17px;
}
.item-6:hover {
    color: #3181A6;
    text-decoration: underline;
}


.item-7 {
    width: 200px;
    height: 50px;
    color: rgb(36, 36, 36);
    font-size: 0.8cm;
    margin-top: 17px;
}
.item-7:hover {
    color: #3181A6;
    text-decoration: underline;
}


.item-8 {
    width: 170px;
    height: 50px;
    color: rgb(36, 36, 36);
    font-size: 0.8cm;
    margin-top: 17px;
}
.item-8:hover {
    color: #3181A6;
    text-decoration: underline;
}


.item-9 {
    width: 175px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 0.6cm;
    margin-top: 17px;
    margin-left: 100px;
    margin-right: 10px;
}



a {
    color: #0C1927;
    text-decoration: none;
}
a:hover {
    color: #3181A6;
    text-decoration: underline;
}